<mat-toolbar color="primary">
    <a routerLink="/cluster-status" routerLinkActive="mat-toolbar-active"><button mat-button>{{localService.NAVIGATION_CLUSTER_STATUS}}</button></a>
    <a routerLink="/cluster-backup" routerLinkActive="mat-toolbar-active"><button mat-button>{{localService.NAVIGATION_CLUSTER_BACKUP}}</button></a>
    <a routerLink="/client" routerLinkActive="mat-toolbar-active"><button mat-button>{{localService.NAVIGATION_CLIENT}}</button></a>
</mat-toolbar>
<router-outlet></router-outlet>