<div class="etcd-group">
    <div class="inner">
        <div class="block block-copy half">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="border: 0px solid black" preserveAspectRatio="xMinYMin meet" viewBox="0,0,10000,10000">
                <circle cx="5000" cy="5000" r="3500" style="fill: #F5F5F5"></circle>
                <g id="servers">
                    <g *ngFor="let memberStatus of memberStatuses; let i=index;" class="circle_losted"
                        [class.circle_stopped]="memberStatus.state == 'Stopped'"
                        [class.circle_follower]="memberStatus.state == 'Follower'"
                        [class.circle_leader]="memberStatus.state == 'Leader'"
                        [attr.tabindex]="i">
                        <a (click)="selectTab(i)">
                            <circle [attr.cx]="memberStatus.circleCoord.x" [attr.cy]="memberStatus.circleCoord.y" [attr.r]="memberStatus.circleCoord.r"></circle>
                        </a>
                        <text [attr.x]="memberStatus.txtCoord.x" [attr.y]="memberStatus.txtCoord.y" [attr.font-size]="memberStatus.txtCoord.r">{{ memberStatus.name }}</text>
                    </g>
                </g>
            </svg>
        </div>
        <div class="block block-copy half">
            <mat-card class="card">
                <mat-tab-group [(selectedIndex)]="selectedTab">
                    <mat-tab *ngFor="let memberStatus of memberStatuses;">
                        <ng-template matTabLabel>{{memberStatus.name}}</ng-template>
                        <br/>
                        <ul class="card-info">
                            <li><span class="card-info_title">{{localService.MEMBER_CARD_TITLE_ID}}</span> <span class="card-info_value">{{memberStatus.id}}</span></li>
                            <li><span class="card-info_title">{{localService.MEMBER_CARD_TITLE_ENDPOINT}}</span> <span class="card-info_value">{{memberStatus.endpoint}}</span></li>
                            <li><span class="card-info_title">{{localService.MEMBER_CARD_TITLE_STATE}}</span>
                                <span *ngIf="memberStatus.state == 'Stopped'" class="card-info_value member_stopped">{{memberStatus.state}}</span>
                                <span *ngIf="memberStatus.state == 'Follower'" class="card-info_value member_follower">{{memberStatus.state}}</span>
                                <span *ngIf="memberStatus.state == 'Leader'" class="card-info_value member_leader">{{memberStatus.state}}</span>
                                <span *ngIf="memberStatus.state == 'Losted'" class="card-info_value member_losted">{{memberStatus.state}}</span>
                            </li>
                            <li *ngIf='memberStatus.dbSize'><span class="card-info_title">{{localService.MEMBER_CARD_TITLE_DBSIZE}}</span> <span class="card-info_value">{{memberStatus.dbSize}}</span></li>
                            <li *ngIf='memberStatus.version'><span class="card-info_title">{{localService.MEMBER_CARD_TITLE_VERSION}}</span> <span class="card-info_value">{{memberStatus.version}}</span></li>
                        </ul>
                        <p class="card-error">
                            <span *ngIf='clusterStatusErrorMsg'>error: {{clusterStatusErrorMsg}}</span>
                        </p>
                        <br/>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>